<div class="border-form-div">
  <h2>Sign up</h2>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
                      :html => {:multipart => true}) do |f| %>

      <%= f.label :avatar do %>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
      <% end %>

      <%= f.input :email, :autofocus => true, :placeholder => 'Email address' %>
      <%= f.input :phone, :autofocus => true, :placeholder => 'Phone number' %>
      <%= f.input :password, :placeholder => 'Password' %>
      <%= f.input :password_confirmation, :placeholder => 'Password confirmation' %>
      <%= f.input :first_name, :placeholder => 'Enter your first name' %>
      <%= f.input :last_name, :placeholder => 'Enter your last name' %>
      <%= f.submit "Sign up", :class => 'btn btn-default btn-sm' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
